@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Libre+Baskerville&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    place-items: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Baskerville', serif;
    color: #000000;
}

ul{
    list-style: none;
    display: flex;
}

ul li, Link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #000000;
    margin: 0 1rem;
    transition: 0.2s ease;
    cursor: pointer;
}

header{
  width: 100vmax;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.elisalogo{
    width: 150px;
    height: 150px;
    justify-content: left;
}

.elisatitle{
  line-height: 0;
  font-size: 3em;
  justify-self: left;
}

.navElisa{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  padding-right: 20px ;
}


ul li:hover {
  background-color: #7DD0D2;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: #000000;
}

a:hover{
  color: #000000;
}

.UserIcon{
    color: #000000;
    width: 70px;
    height: 70px;
    font-size: 50px;
}


/* Contenedor del menú desplegable */
.menu-container {
  position: absolute;
}

/* Icono de usuario */
.UserIcon {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.UserIcon:hover {
  transform: scale(1.1);
}

/* Estilos del menú desplegable */
.userMenu {
  width: 70px;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item{
  margin: 5px 0;
}


